.episode-page {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 100px;
  margin: 0 auto;
}

@media (width <= 425px) {
  .episode-page {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
